#results{
  font-size: 20px;
  justify-content: center;
  text-align: center; 
}

#score {
  font-size: 100px;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: -1;
  }

#reset {
  background: url("Images/Final.jpeg");
  height: 100px;
  width: 100px;
  justify-content: center;
  text-align: center;
  }
#pScore {
  color: rgb(52, 42, 104);
  font-size: 50px;
  float: left;
  padding-top: 400px;
  
}

#cScore {
  color: rgb(52, 42, 104);
  font-size: 50px;
  float: right;
  padding-top: 400px;
}

button {
  font-size: 0%;
  margin-top: 100px;
  margin-left: 14%;
  float: left;
  height: 100px;
  width: 100px;
 }

#Scissors {
  margin-right: 0px;
  background: url("Images/Scissors.jpeg");
}

#Rock {
  background: url("Images/Rock.jpeg");
}

#Paper {
  background: url("Images/Paper.jpg");
}

